{
  "zip" : "9999",
  "country" : "Isreal",
  "city" : "Tel Aviv",
  "last_name" : "BI",
  "industry" : "Tech",
  "eula" : "yes",
  "title" : "Manager",
  "phone" : "99999999",
  "company" : "xxxx",
  "state" : "TLV",
  "department" : "IT",
  "first_name" : "Tableau",
  "email" : "{{ smtp_mail }}"
}