{
"configKeys": {
        "svcmonitor.notification.smtp.server": "{{ smtp_url }}",
        "svcmonitor.notification.smtp.send_account": "''",
        "svcmonitor.notification.smtp.port": 443,
        "svcmonitor.notification.smtp.password": "''",
        "svcmonitor.notification.smtp.ssl_enabled": true,
        "svcmonitor.notification.smtp.from_address": "{{ smtp_mail }}",
        "svcmonitor.notification.smtp.target_addresses": "{{ smtp_mail }}",
        "svcmonitor.notification.smtp.canonical_url": "{{ smtp_url }}"
        }
}